.table{
  display: table;
}

.header{
  display: table-header-group;
}

.body{
  display: table-row-group;
}

.row-data, .row-header{
  display: table-row;
}

.row-data:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}

.cell-header, .cell-data{
  display: table-cell;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

app-data-table-header{
  width: 100%;
  display: block
}
