<table class="table" id="{{ id }}" [ngClass]="{
  visible: visibility
}">
  <div class="header">
    <div class="row-header">
      <div class="cell-header" *ngFor="let column of columns" [ngStyle]="{ 'width': column.width + '%'}">
        <app-data-table-header
          [sortable]="column.sortable"
          [value]="column.title"
          [order]="column.order"
          [sorting]="sortState?.column === column.id"
          (onSort)="sortColumn(column.id, $event)">
        </app-data-table-header>
      </div>
    </div>
  </div>
  <div class="body">
    <div *ngFor="let row of data; let i = index" class="row-data">
      <div *ngFor="let column of columns" class="cell-data" [ngStyle]="{ width: column.width + '%'}">
        <app-data-table-cell
          [value]="column.valueGetter ? column.valueGetter({ data: row, index: i }) : row[column.id]"
          [className]="column.getClassName ? column.getClassName({ data: row, index: i }) : ''"
          (onClick)="column.click ? column.click({ data: row, index: i }) : null"
        ></app-data-table-cell>
      </div>
    </div>
  </div>
  <app-data-table-pagination #dataTablePagination
    [pageSize]="pageSize"
    [total]="total"
    (onChange)="paginationPageChanged($event)">
  </app-data-table-pagination>
</table>
