<form class="form card p-2">
  <div class="form-group mb-2">
    <label for="login">Search user</label>
    <input
      type="text"
      placeholder="User Login"
      [formControl]="login" name="login"
      class="form-control"
      [ngClass]="{'is-invalid': submited && login.invalid && login.errors?.required}"
      required
    >
    <div id="" class="invalid-feedback"  *ngIf="submited && login.invalid && login.errors?.required">
      Username input is required value
    </div>
  </div>
  <button  (click)="search($event)" *ngIf="!submited" class="btn btn-primary mb-2">Search</button>
  <button  (click)="reset($event)" *ngIf="submited" class="btn btn-light mb-2">Reset</button>
</form>
