<form class="form card p-2">
  <div class="form-group mb-2">
    <input
      type="text"
      placeholder="User Login"
      [formControl]="login" name="login"
      class="form-control"
      [ngClass]="{'is-invalid': submited && login.invalid && login.errors?.required}"
      required
    >
    <div class="invalid-feedback"  *ngIf="submited && login.invalid && login.errors?.required">
      Username input is required value
    </div>
  </div>
  <button  (click)="search($event)" *ngIf="!resetBtn" class="btn btn-primary mb-2 submit-btn">Search</button>
  <button  (click)="reset($event)" *ngIf="resetBtn" class="btn btn-light mb-2 reset-btn">Reset</button>
</form>
